<ion-view view-title="Search">
  <ion-content class="padding">
   <!-- <h2>Enter the food Item</h2>-->
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="search.q" placeholder="Search by food name or brand name">
  </label>
</div>
       <button class="button button-block button-balanced" ng-click="searchItem()">Search</button>
      
    <div class="row">
<!--
    <a class="item " href="#">
      <img src="https://www.pizzahut.com/assets/w/tile/thor/Pepperoni_Lovers_Pizza.png">
     
     </a>-->
        <ul class="list">
                        <li ng-repeat="dish in searchItems">
                         <a  href="#"> <blockquote ng-click="getItem(dish)">
                             <p>{{dish.name}}</p>
                             <footer>Type:{{dish.group}}</footer>
                          </blockquote></a>
                        </li>
                    </ul>
        

    

</div>
     
      
  </ion-content>
</ion-view>
